*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/lib-requirement-code/build
/lib-requirement-code/bintray.gradle
/lib-requirement-code/install.gradle
